@charset 'utf-8';
*{ padding:0; margin:0;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */
/*-webkit-touch-callout:none ;-webkit-user-select:none ;*/}
body{ vertical-align:baseline;
-webkit-text-size-adjust: none; text-size-adjust: none; font: 14px/2 'Microsoft YaHei'; color: #252a2f; margin:0 auto;background: #f4f4f4;}
img{ border:none; vertical-align:top;}
a{ color:#333; text-decoration:none;}
li{ list-style:none;}
*:focus{ outline: none; outline: 0;}
b,i,cite,em{font-style:normal;}
table { border-collapse: collapse; border-spacing: 0; font-size: inherit; }
input,select{-webkit-appearance: none;border-radius:0;font-family: "Microsoft YaHei";font-size: 14px;}
textarea {resize: none;font-family: "Microsoft YaHei";font-size: 14px;}
option{-webkit-appearance: none;}
.flexbox {display: -webkit-box;display: -webkit-flex;display: -moz-flex;display: -moz-box;display: -ms-flex;display: -ms-flexbox;display: flex;}
.flex {-webkit-box-flex: 1;-moz-box-flex: 1;-ms-flex: 1;-webkit-flex: 1;flex: 1;}
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;overflow:hidden;}
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}

/*.aa{width: 100px;height: 100px;background: #ffb300;border:1px solid #2f353b;color: #252a2f;background: #fff2e6;}*/

.pop-box{display: none;}
.pop-bg{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: #000;opacity: 0.4;z-index: 101;}
.pop-con{position: fixed;z-index: 102;top: 30%;left: 50%;width: 84%;margin: 0 0 0 -42%;background: #fff;border-radius: 5px;font-size: 14px;color: #010101;overflow: hidden;}
.pop-txt{padding: 40px 0 30px;font-size: 18px;color: #e25555;text-align: center;}
.pop-txt i{font-style: italic;padding: 0 10px 0 0;font-weight: bold;}
.pop-con ul{background: #ffb300;border-radius: 0 0 5px 5px;}
.pop-con li{height: 40px;line-height: 40px;font-size: 18px;text-align: center;position: relative;}
.pop-con li a{display: block;width: 100%;height: 100%;color: #fff;}
.pop-con li:first-child:after{content: "";display: block;width: 1px;height: 30px;overflow: hidden;background: #fff;position: absolute;right: 0;top: 5px;}
.pop-con li:first-child a{}

/*1*/
section{/*padding:15px 35px 10px;*/position: relative;padding: 10px;margin: 30px 0 50px;}
section .box-name{display: block;font-weight: normal;font-size: 18px;text-align: center;position: relative;color: #2f353b;width: 165px;line-height: 30px;margin: 0 auto 6px;padding: 0 20px 0 0;}
section .box-name:before {content: "";position: absolute;left: 0;top: 12px;width: 8px;height: 8px;background: url('dot.png') no-repeat;background-size: 8px 8px;}
section .box-name:after {content: "";position: absolute;right: 20px;top: 12px;width: 8px;height: 8px;background: url('dot.png') no-repeat;background-size: 8px 8px;}

/*.form-box .item{margin: 0 0 15px;}
.form-box .item label{display: block;}
.form-box .item input[type="text"]{border: 1px solid #2f353b;padding: 10px 10px;border-radius: 5px;margin: 0 0 0 15px;}
.form-box .item textarea{padding: 10px 10px;border-radius: 5px;vertical-align: top;margin: 0 0 0 13px;min-height: 80px;}
.form-box .item input[type="button"]{border: none;padding:10px 12px;border-radius: 20px;background: #ffb300;color: #fff;font-size: 16px;}
*/
/*.form-box .item label{text-align: center;}*/
.form-box .item{padding: 0 25px 0;}
.form-box .item label span{display: block;text-align: center;position:relative;color: #2f353b;width: 115px;margin: 0 auto 6px;}
.form-box .item label span:before{content: "";position: absolute;left: 0;top: 10px;width: 8px;height: 8px;background: url('dot.png') no-repeat;background-size: 8px 8px;}
.form-box .item label span:after{content: "";position: absolute;right: 0;top: 10px;width: 8px;height: 8px;background: url('dot.png') no-repeat;background-size: 8px 8px;}
.form-box .item input[type='text']{display: block;margin: 0 0 15px;width: 100%;border: 1px solid #d7d7d7;border-radius: 5px;padding: 10px;box-sizing:border-box;background: #fff;}
.form-box .item textarea{display: block;margin: 0 0 25px;width: 100%;height: 80px;border: 1px solid #d7d7d7;border-radius: 5px;padding: 10px;box-sizing:border-box;background: #fff;}
.form-box .item input[type='button']{display: block;line-height: 40px;background: #ffb300;border: none;text-align: center;color: #fff;font-size: 15px;border-radius: 5px;width: 100%;}
.form-box .item input.txt-focus,.form-box .item textarea.txt-focus{border:1px solid #ffb200;}

/*2*/
/*header{margin: 30px 0 0;}*/

header .drop-box{background: #fff;overflow-x: auto;/*padding: 0 35px;*/box-sizing:border-box;white-space: nowrap;height: 60px;background: #fff;/*position: relative;width: 100%;height: 60px;*/}

header .drop-box>ul{background: #fff;width: 200%;/*position: absolute;left: 0;height: 60px;*/position: fixed;top: 30px;border-bottom: 1px solid #e6e5ea;z-index: 10;}
header .drop-box li{box-sizing:border-box;float: left;width: 11%;height: 60px;position: relative;border-radius: 5px;}
header .drop-box ul>div{box-sizing:border-box;float: left;width: 11%;height: 60px;position: relative;border-radius: 5px;}
header .drop-box .slide-l{width: 35px;height: 60px;position: fixed;left: 0;top: 30px;z-index:11;background:#fff url('silder_left.png') no-repeat;background-size: 35px 60px;display: none;}
header .drop-box .slide-r{width: 35px;height: 60px;position: fixed;right: 0;top: 30px;z-index:11;background:#fff url('silder_right.png') no-repeat;background-size: 35px 60px;}
header .drop-box ul .cmd{position: absolute;bottom: 0;left: 0;width: 100%;text-align: center;line-height: 1.7;}
header .drop-box .slide-l:active{background:#fff2e6 url('silder_left_c.png') no-repeat;background-size: 35px 60px;}
header .drop-box .slide-r:active{background:#fff2e6 url('silder_right_c.png') no-repeat;background-size: 35px 60px;}

header .drop-box .box{background:#fff url('slider_box.png') no-repeat center 7px;background-size: 30px 30px;}
header .drop-box .heater{background:#fff url('slider_heater.png') no-repeat center 7px;background-size: 30px 30px;}
header .drop-box .stirrer{background:#fff url('slider_stirrer.png') no-repeat center 7px;background-size: 30px 30px;}
header .drop-box .fan{background:#fff url('slider_fan.png') no-repeat center 7px;background-size: 30px 30px;}
header .drop-box .timer{background:#fff url('slider_timer.png') no-repeat center 7px;background-size: 30px 30px;}
header .drop-box .repeater{background:#fff url('slider_repeater.png') no-repeat center 7px;background-size: 30px 30px;}

header .drop-box ul .ui-draggable-dragging{border:1px solid #ffb300;background-color: #fff2e6;}
/*.repeater*/
/*drag li*/
/*header .drop-box li.ui-draggable-dragging{border: 1px solid #2f353b;border-radius: 5px;}*/
.form-box{padding: 0 20px 0 0; }
.form-box .start-end{height: 30px;line-height: 30px;text-align: center;color: #fff;letter-spacing: 1px;font-size: 14px;border-radius: 5px;text-indent: 15px; }
.form-box .start-end:first-child{background:#ffb300 url('icon_start.png') no-repeat 43% 7px;background-size: 13px 15px;}
.form-box .start-end:last-child{background:#ffb300 url('icon_end.png') no-repeat 43% 7px;background-size: 15px 15px;}
.form-box .command-box{border: 1px dashed #ffb300;border-radius: 5px;padding: 10px 10px 0;margin: 15px 0;min-height: 90px;}
.form-box .command-box li{min-height: 40px;line-height: 40px;border: 1px solid #ffb300;margin: 0 0 5px;border-radius: 5px;}
.form-box .command-box li.ui-sortable-helper{/*border: 2px dashed #ffb300;*/}
.form-box .command-box .ui-draggable .cmd{box-sizing:border-box;padding: 0 0 0 40px;position: relative;}
/*.command-box .dialog-box{display: none;}*/
.form-box .command-box .hint-txt{color: #bdbebf;line-height: 102px;text-align: center;margin: -12px 0 0;font-size: 18px;}
.form-box .command-bg{background: url('bg-txt.png') no-repeat center center;background-size: 143px auto;}


footer{position: fixed;left: 0;bottom: 0;width: 100%;z-index: 1;background: #31383e;height: 40px;}
/*footer a{display: block;height: 30px;width: 30px;margin: 5px auto;}*/
footer ul{width: 100%;height: 100%;}
footer li{height: 100%;width: 33.333%;}
footer li:nth-child(1){background: url('footer_delete_w.png') no-repeat center center;background-size:30px 30px;}
footer li:nth-child(2){background: url('footer_undo_w.png') no-repeat center center;background-size:30px 30px;}
footer li:nth-child(3){background: url('footer_save_w.png') no-repeat center center;background-size:30px 30px;}

/*footer li{-webkit-tap-highlight-color:rgba(255,255,255,0.0);}*/
footer li:nth-child(1):active{-webkit-transform: scale3d(0.9, 0.9, 1);background: url('footer_delete_o.png') no-repeat center center;background-size:30px 30px;}
footer li:nth-child(2):active {-webkit-transform: scale3d(0.9, 0.9, 1);background: url('footer_undo_o.png') no-repeat center center;background-size:30px 30px;}
footer li:nth-child(3):active {-webkit-transform: scale3d(0.9, 0.9, 1);background: url('footer_save_o.png') no-repeat center center;background-size:30px 30px;}

.form-box .command-box div.ui-draggable{position: relative;border: 1px solid #ffb300;margin: 0 0 5px;border-radius: 5px;background: #fff;}
.form-box .command-box div.ui-draggable>.cmd{white-space: nowrap;border-radius: 4px 4px 0 0;}

.form-box .command-box div.w-bg>.cmd{background: #fff;border-bottom: 1px solid #ffb200;line-height: 40px;}
.form-box .command-box div.o-bg>.cmd{background: #ffb200;line-height: 40px;}
.form-box .command-box div.ui-draggable>.cmd em:last-child{padding: 0;}
.form-box .command-box div.ui-sortable-helper{/*border: 2px dashed #ffb300;*/}
.form-box .command-box div.ui-sortable-helper>.cmd{/*border: 2px solid #ffb300;color: #ffb300;*/}


.form-box .command-box .repeat-box{padding: 10px 10px 5px;min-height: 80px;border-radius: 0 0 5px 5px;}
.form-box .command-box .repeat-box li{margin: 0 auto 5px;}

.dialog-box{display: none;}
.dialog-con{/*border-radius: 5px;*/text-align: left;position: absolute;margin: 0 0 0 0;background: #fff;z-index: 1002;width: 90%;overflow: hidden;}

.dialog-bg{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: #000;opacity: 0.4;z-index:1001;}


.dialog-tit{position: relative;height: 40px;line-height: 40px;padding: 0 10px;background: #ffb300;color: #fff;/*border-radius: 5px 5px 0 0;*/}
.dialog-tit b{display: block;position: absolute;right: 0;top: 0;width: 40px;height: 40px;background: url('close-btn.png') no-repeat center center;background-size: 23px 23px;}
.dialog-tit em{padding: 0 10px;}


.dialog-form{padding: 10px 10px 0;}
.dialog-form p{margin: 0 0 15px;min-height: 40px;display: none;}
.dialog-form p.set-9{margin: 0 -11px;background: #ffb300;height: 45px;/*border-radius: 0 0 5px 5px;*/}
.dialog-form p.set-9 a{width: 50%;height: 100%;box-sizing:border-box;margin: 0;line-height: 45px;padding: 0;display: inline-block;text-align: center;color: #fff;}
.dialog-form p.set-9 a:first-child{position: relative;}
.dialog-form p.set-9 a:first-child:after{position: absolute;content: "";right: 0;top:5px;border-right:1px solid #fff;height: 35px;}




.itm-1 label{vertical-align: top;margin: 3px 10px 0 0;display: inline-block;}
.itm-1 span{position: relative;width: 69px;height: 32px;display:inline-block;border-radius: 7px;overflow: hidden;z-index: 1;background: #fff;margin: 0 0 0 -9px;}
.itm-1 span i{display: block;position: absolute;width: 107px;height: 32px;left: 0;top: 0;background: url('icon_switch.png') no-repeat;background-size: auto 32px;border-radius: 7px;}

.itm-2 input{width: 80px;border: 1px solid #ffb300;padding: 5px 10px;height: 28px;/*margin: 0 1%;*/}
.itm-2 select{background: url('icon_dropdown.png') no-repeat right center;background-size: 16px 40px;height: 40px;width: 50px;border: 1px solid #ffb300;text-indent: 9px;}


.itm-3 input{border: 1px solid #ffb300;padding: 5px 10px;height: 28px;margin: 0 1%;width: 130px;}

.itm-4 select{background: url('icon_dropdown.png') no-repeat right center;background-size: 16px 40px;height: 40px;width: 40px;border: 1px solid #ffb300;text-indent: 4px;}
.itm-4 input,.itm-3 input[type=radio]{width: 15px;height: 15px;border: 1px solid #ccc;vertical-align: middle;border-radius: 3px;padding: 0;margin: -3px 0 0 0;}
.itm-4 input[type=checkbox]:checked,.itm-3 input[type=checkbox]:checked{background: url('chk-ico.png') no-repeat center center;background-size: 100% auto;}

.set-2 select{margin: 0 0 0 -4px;text-indent: 7px;}
.set-10 input{margin: 0 1%;width: 130px;}
/*.itm-7{text-align: center;}
.itm-7 a{display: inline-block;padding: 5px 10px;border-radius: 5px;width: 20%;margin: 0 10px;color: #fff;}
.itm-7 a:first-child{background: #6691cc;}
.itm-7 a:last-child{background: #e25555;}*/
.set-6 input[type=radio],.set-7 input[type=radio]{background: url('icon_choose_off.png') no-repeat center center;background-size: 16px 16px;border-radius: 0;border: none;width: 20px;height: 20px;}
.set-6 input[type=radio]:checked,.set-7 input[type=radio]:checked{background: url('icon_choose_on.png') no-repeat center center;background-size: 16px 16px;}


.dialog-form p.set-1{min-height: 32px;height: 32px;}
.dialog-form p label{white-space: nowrap;}
.dialog-form p b{display: inline-block;width: 85px;font-weight: normal;text-align: right;padding: 0 5px 0 0;}
.command-box .cmd em{padding: 0 3px;}

.set-5 label{padding: 0 5px 0 0;}
.set-6 label{/*padding: 0 4px 0 0;*/}

.dialog-form p.set-6 b{width: 41px;}
.dialog-form p.set-7 b{width: 41px;}
.set-6 select{width: 17%;}
.dialog-form p.set-7 input{margin: 0 0.1em;}

/*************************20150825******************************/
.top{height: 30px;background: #ffb300;width: 100%;position: fixed;left: 0;top: 0;z-index: 10;}
.top .fl{width: 37%;height: 30px;background:#2f353b url('logo.png') no-repeat center center;background-size: 106px 25px;}
.top .fr{width: 63%;height: 30px;line-height: 30px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;text-align: center;color: #fff;font-size: 20px;}

.w-bg{background: #fff;position: relative;color: #ffb300;}
.w-bg:before{content: "";display: block;width: 9px;height: 5px;background: url('arr-1.png') no-repeat;background-size: 9px 5px;position: absolute;left: 45px;top: -1px;z-index: 1;}
.w-bg:after{content: "";display: block;;width: 9px;height: 5px;background: url('arr-2.png') no-repeat;background-size: 9px 5px;;position: absolute;left: 45px;bottom: -5px;z-index: 1;}
/*.w-bg:last-child:after{display: none;}*/
/*.w-bg .cmd{position: relative;}*/

.o-bg{background: #ffb200;position: relative;color: #fff;}
.o-bg:before{content: "";display: block;width: 9px;height: 5px;background: url('arr-3.png') no-repeat;background-size: 9px 5px;position: absolute;left: 45px;top: -1px;z-index: 1;}
.o-bg:after{content: "";display: block;;width: 9px;height: 5px;background: url('arr-4.png') no-repeat;background-size: 9px 5px;;position: absolute;left: 45px;bottom: -6px;z-index: 1;}
/*.o-bg:last-child:after{display: none;}*/
/*.o-bg .cmd{position: relative;}*/

.ui-sortable-helper:before,.ui-sortable-helper:after{display: none;}

.command-box>.ui-draggable{font-size: 16px;}
.command-box>.ui-draggable:first-child:before{display: none;}
.command-box>.ui-draggable:last-child:after{display: none;}
.command-box>div.ui-draggable li:nth-child(2):before{display: none;}
.command-box>div.ui-draggable li:last-child:after{display: none;}

.w-bg>.cmd:before{content: "";display: block;position: absolute;right: 40px;top: 0;width: 40px;height: 40px;background: url('icon_setting_o.png') no-repeat center center;background-size: 23px 23px;}
.w-bg>.cmd i{display: block;position: absolute;right: 0;top: 0;width: 40px;height: 40px;background: url('icon_delete_o.png') no-repeat center center;background-size: 23px 23px;}
.w-bg>.cmd i:active{-webkit-transform: scale3d(0.9, 0.9, 1);background: url('icon_delete_r.png') no-repeat center center;background-size: 23px 23px;}

.o-bg>.cmd:before{content: "";display: block;position: absolute;right: 40px;top: 0;width: 40px;height: 40px;background: url('icon_setting_w.png') no-repeat center center;background-size: 23px 23px;}
.o-bg>.cmd i{display: block;position: absolute;right: 0;top: 0;width: 40px;height: 40px;background: url('icon_delete_w.png') no-repeat center center;background-size: 23px 23px;}
.o-bg>.cmd i:active{-webkit-transform: scale3d(0.9, 0.9, 1);background: url('icon_delete_r.png') no-repeat center center;background-size: 23px 23px;}

.w-bg:active{background: #ffe9b5;}
.o-bg:active{background: #e4b13b;}





.box-w-1 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box1_o.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}
.box-o-1 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box1_w.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}

.box-w-2 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box2_o.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}
.box-o-2 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box2_w.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}

.box-w-3 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box3_o.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}
.box-o-3 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box3_w.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}

.box-w-4 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box4_o.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}
.box-o-4 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box4_w.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}

.box-w-5 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box5_o.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}
.box-o-5 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box5_w.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}

.box-w-6 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box6_o.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}
.box-o-6 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box6_w.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}

.box-w-7 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box7_o.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}
.box-o-7 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box7_w.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}

.box-w-8 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box8_o.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}
.box-o-8 .cmd-num{position: absolute;left: 0;top: 0;width: 34px;height: 40px;background: url('icon_box8_w.png') no-repeat center center;background-size: 28px 28px;text-indent: -9999px;}



.command-box .cmd .cmd-name{position: relative;}
.command-box .cmd .cmd-name:before{content: "";position: absolute;left: -40px;top: -9px;width: 40px;height: 40px;}

.command-box .heater-w .cmd-name:before{background: url('icon_heater_o.png') no-repeat center center;background-size: 28px 28px;}
.command-box .heater-o .cmd-name:before{background: url('icon_heater_w.png') no-repeat center center;background-size: 28px 28px;}

.command-box .stirrer-w .cmd-name:before{background: url('icon_stirrer_o.png') no-repeat center center;background-size: 28px 28px;}
.command-box .stirrer-o .cmd-name:before{background: url('icon_stirrer_w.png') no-repeat center center;background-size: 28px 28px;}

.command-box .fan-w .cmd-name:before{background: url('icon_fan_o.png') no-repeat center center;background-size: 28px 28px;}
.command-box .fan-o .cmd-name:before{background: url('icon_fan_w.png') no-repeat center center;background-size: 28px 28px;}

.command-box .timer-w .cmd-name:before{background: url('icon_timer_o.png') no-repeat center center;background-size: 28px 28px;}
.command-box .timer-o .cmd-name:before{background: url('icon_timer_w.png') no-repeat center center;background-size: 28px 28px;}

.command-box .repeater-w>.cmd .cmd-name:before{background: url('icon_repeater_o.png') no-repeat center center;background-size: 28px 28px;}
.command-box .repeater-o>.cmd .cmd-name:before{background: url('icon_repeater_w.png') no-repeat center center;background-size: 28px 28px;}

/*20150906 test block*/
#res-sec{margin: 0px 0 70px;}
#res-panel{padding: 10px;box-sizing:border-box;}














